.contacts {
  display: grid;
  gap: 0.3rem;
  justify-items: end;
}

.contacts a > span {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.contacts a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.contacts .icon {
  width: 1rem;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .contacts {
    justify-items: start;
  }

  .contacts a {
    flex-direction: row-reverse;
  }
}
