.contacts {
  display: flex;
  flex-wrap: wrap;
  color: var(--main-light-color);
}

.contacts > li + li::before {
  content: "·";
  margin: 0 0.6em;
}

.contacts a {
  color: var(--main-text-color);
}

@media screen and (max-width: 800px) {
  .contacts {
    flex-direction: column;
  }

  .contacts > li + li::before {
    content: none;
  }
}
