.skills {
  gap: 0.3rem !important;
}

.skills > li {
  display: grid;
  grid-template-columns: 11rem 1fr;
  gap: 1rem;
}

.skills .skill-group {
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .skills > li {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
