.work-experience {
  gap: 1.3rem !important;
}

.work-experience .we-roles > li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.work-experience .role-title {
  font-weight: 500;
}

.work-experience .we-roles > li + li .role-title {
  font-weight: 400;
  color: var(--main-light-color);
}

.work-experience .we-activities {
  margin: 0.4rem 0;
  display: grid;
  gap: 0.2rem;
}

.work-experience .we-activities > li {
  position: relative;
  padding-left: 1rem;
}

.work-experience .we-activities > li::before {
  content: "–";
  position: absolute;
  left: 0.1rem;
  color: var(--main-light-color);
}

.work-experience .we-technologies {
  color: var(--main-light-color);
  font-size: 0.9rem;
}
